In [21]:
bool(None) # False
bool([]) # False
bool( set() ) # False
bool( dict() ) # False
bool( '' ) # False 빈 문자열
bool(" ") # True 공백문자열

True

In [14]:
myStr[3]dd

'분'

In [22]:
s1 = """구름에 
달가듯이 
가는 
나그네"""
# EOL => End Of Line

### 시험!

In [56]:
# 인덱싱 : 1개 추출
# 슬라이싱 : 연속해서 여러개 추출
[시작 이상 : 끝 미만]
[: 끝 ] 시작 생략시 0부터
[시작 : ] 끝 생략 끝까지
"python" [ :2] => py
"python" [2: ] => thon
[시작 : 끝 : 간격] 간격 기본은 1
[::-1] 문자열을 역순으로 추출

SyntaxError: invalid syntax (2334145323.py, line 3)

In [23]:
'python' [::-1]

'nohtyp'

In [25]:
## 문자열
더하기 연산자는 양쪽의 type이 같아야 한다.
문자열끼리는 문자열 결합
정수끼리는 덧셈
문자열 + 정수 결합하는 법 => 정수는 srt()로 감싼다

In [30]:
age = 30
"홍길동의 나이는 " + str(age)

'홍길동의 나이는 30'

In [34]:
# 문자열 포맷팅 3가지(출력 형식 정하기)
# 1.    %
name = "홍길동"
gae =  30
"%s 나이는 %d" % (name,age)
# %를 통해서 순서대로 치환시키는 방법

'홍길동 나이는 30'

In [35]:
# 2.    str.format
"{} 나이는 {}".format(name, age)

'홍길동 나이는 30'

In [37]:
# 3.   f-string, 파이썬 3.6 이상부터 사용가능
f"{name} 나이는 {gae}, 태어난 연도는 {2022 - age}년"

'홍길동 나이는 30, 태어난 연도는 1992년'

In [46]:
# 문자열을 구분자 기준으로 분할, 리스트 반환
arr = "A:B:C:D".split(":")
arr

['1', 'B', 'C', 'D']

In [49]:
# 리스트를 구분자로 연결한 문자열로 생성
"--".join(arr)

'1--B--C--D'

In [50]:
# 숫자가 들어간 리스트를 조인하면 오류가 발생한다.
arr = [1,3,5]
"--".join(arr)
# TypeError: sequence item 0: expected str instance, int found
# str이 와야하는데 int가 와서 오류 발생

TypeError: sequence item 0: expected str instance, int found

In [52]:
ans = input("나이를 입력하세요 : ")

나이를 입력하세요 : 20

In [53]:
# int - 문자열 오류
2022 - ans
#TypeError: unsupported operand type(s) for -: 'int' and 'str'

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [55]:
#int type으로 변환
f"나이가 {ans}이면 태어난 해는 {2022 - int(ans)}년 이네요"

'나이가 20이면 태어난 해는 2002년 이네요'

In [ ]:
HDD (ssd 아님) : seek time 60ms(60초/1000초)
DRAM seek time = 60ns(60 / 1e-9)

### 시험!

In [60]:
# 2차원 데이터 
mylist = [1,3,5] # 1,3,5 -> item(항목) -> 저장된 값 -> 1차원
mylist = [ [1,2], [2,3], [3,4] ] # 2차원
# 부를땐 행이 먼저 열이 나중에 
#           열
#행         1 2
#           3 4

In [65]:
mylist[0] #0 행 [1,2]
mylist[0][1] # 0 행 1열 [1,2]

2

In [66]:
for m in mylist:
    print(m)

[1, 2]
[2, 3]
[3, 4]

In [257]:
mylist

[[1, 2], [2, 3], [3, 4]]

In [72]:
a = [1,2,3]
# 슬라이싱
안에 추가가됨
a[1:2] = ['c','d','e'] 
a

[1, 'c', 'd', 'e', 3]

In [70]:
# 인덱싱
# 리스트 자체가 들어감
a[1] = ['c','d','e']
a

[1, ['c', 'd', 'e'], 'd', 'e', 3]

In [75]:
# append 값 뒤에 추가
a.append(4)
a

[1, 'c', 'd', 'e', 3, 4, 4]

In [76]:
# insert 값 사이에 추가
a.insert(0,4)
a

[4, 1, 'c', 'd', 'e', 3, 4, 4]

In [101]:
# sort() 정렬 reverse=True 내림차순
a=[1,2,3,4]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [99]:
# reverse=False 내림차순
a.sort(reverse=False)
a

[1, 2, 3, 4]

In [102]:
# .reverse() 원본 자체를 변경
a.reverse()
a
 
# arr[::-1] # 역순이된 리스트 생성, 반환 => 원본 수정 불가

[1, 2, 3, 4]

In [111]:
names = ["홍","김","박","홍"]
names.pop(1) # 김 삭제
names

['홍', '박', '홍']

In [112]:
names.remove("홍") # "홍" 삭제 // 동일한 값이 있으면 첫번째 항만 삭제
names

['박', '홍']

In [113]:
[1,3,5] + [4,7,9]
# list + list는 두개가 더해진 새로운 list가 된다

[1, 3, 5, 4, 7, 9]

In [116]:
# extend() # 기존 list를 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [120]:
# 집합 set
a = {'a','b','c','d','e'}
a

{'a', 'b', 'c', 'd', 'e'}

In [119]:
b = set('abcffff') # 중복된 값 거르고 저장
b

{'a', 'b', 'c', 'f'}

In [227]:
# 로또 번호 생성, 저장
lotto_list = []
lotto_set = set()

import random
num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1이상 45이하
lotto_list.append(num)
lotto_set.add(num)

print(lotto_set, lotto_list)

{3, 43} [43, 43, 3]

In [229]:
1 in [1,2,3] # True

True

In [ ]:
4 in [1,2,3] # False

In [238]:
dan = 2
i = 1
while i < 10:
    print(i * dan)
    i += 1 # 1씩 증가

2
4
6
8
10
12
14
16
18

In [240]:
# for문을 이용한 2단 구구단
dan = 2
i = 1
for i in [1,2,3,4,5,6,7,8,9]:
    print(i * dan)

2
4
6
8
10
12
14
16
18

In [242]:
tot = 0
for i in range(1,101):
    tot += i
print(tot)

5050

In [243]:
dan = 3
i = 1
for i in range(1,10):
    print(i * dan)

3
6
9
12
15
18
21
24
27

In [246]:
arr3 = [[1,2,3], [4,5,6], [7,8,9,10]]
for a in arr3:
    print("a",a)
    for aa in a:
        print("aa",aa)

a [1, 2, 3]
aa 1
aa 2
aa 3
a [4, 5, 6]
aa 4
aa 5
aa 6
a [7, 8, 9, 10]
aa 7
aa 8
aa 9
aa 10

In [247]:
scores=[ 
    ["홍",70], 
    ["김", 80],
    ["박", 70]
       ]
tot = 0

# 학생평균 계산
for sc in scores:
    tot += sc[1]
print("평균= " , tot/len(scores))

평균=  73.33333333333333

In [ ]:
# 집에 가고싶어요

In [248]:
arr4 = [1,2,1,1,2]
# 1=홀, 2=짝, 변환 출력[홀,짝,홀,홀,짝]

[ "짝" if i%2==0 else "홀" for i in arr4]

['홀', '짝', '홀', '홀', '짝']

## 함수

### 시험!

In [250]:
# 기본 매개변수, 키워드 매개변수 높은 출제율

In [255]:
def calc_many(choice, *args):
    if choice 몰?루 ㅅㅂ

print(calc_many("sum", 1,3,5))
print(calc_many("mul", 3,2,4))

None
None